.wrapper {
    background-image: url("https://picua.org/images/2020/02/15/7056c7d456151bbf351aa0f22525a15d.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.timer {
    color: #fff;
    font-size: 18px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    background-color: rgba(111, 214, 192, 0.596);
    display: flex;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    border-radius: 60px;
  
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgba(29, 34, 39, 0.521);
}

.value {
    margin-right: 4px;
}

@media (max-width:500px){
    .timer{
        flex-wrap: wrap;
        width:248px;
        justify-content: space-between;
    }
    * {margin: 0;}
}