.main-div {
  background-color: black;
  width: 454px;
  height: 272px;
  position: relative;
  background-image: url(./1111.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: url(./555.png), auto;
  margin: 0 auto;
  margin-top: 50px;
}

.animate {
  background-image: url("./3333.png");
  height: 360px;
  width: 280px;
  position: absolute;
  background-repeat: no-repeat;
}

.second-div {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-image: url(./22222.png);
  z-index: 45;
  background-size: contain;
  filter: brightness(50%);
  filter: hue-rotate(90deg);
}